*, *:before, *:after {
	box-sizing: border-box;
}

h1, h2 {
	color: #404040;
	text-align: center;
}

h1 {
	font-size: 3.2em;
}

h2 {
	font-size: 1.3em;
}

header {
	margin-bottom: 20px;
}

footer {
	background-color: #d6f5d6;
}

#game {
	width: 500px;
	height: auto;
	margin: auto;
	margin-bottom: 20px;
}

#game:after {
	display: table;
	content: "";
	clear: both;
}

.cell {
	float: left;
	width: 25px;
	height: 25px;
}